.hidden {
    width:1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left:-9999px;
}
.ol {
    outline: 1px solid #f00;
}
.clearFix:after {
    content: '';
    display:block;
    clear: both;
}
.center {
    text-align: center;
}