@media all and (max-width:1700px) {
    #footer .container {
        width: 100%;
        padding: 0 20px;
    }
}
@media all and (max-width:1240px){
    #gnb {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: #fff;
        text-align: left;
        margin-left: 0;
        padding-top: 100px;
        left: 100%;
        transition: 0.5s ease-out;
    }
    #gnb.on {
        left: 0;
    }
    #gnb .gnbList > li {
        float: none;
        border-bottom: 1px solid #d9d9d9;
    }
    #gnb .gnbList > li .depth02 {
        background-color: #eee;
        margin-top: 0;
        opacity: 0;
        height: 0;
        transition: 0.5s ease;
    }
    #gnb .gnbList > li.on .depth02 {
        display: block;
        padding: 10px 0;
        opacity: 1;
        height: 100%;
    }
    #gnb .gnbList > li .depth02 a {
        display: block;
        padding: 10px 0 10px 40px;
    }
    #gnb .gnbList .depth01 .plus {
        display: block;
    }
    #footer .container .address dl {
        width: 50%;
        margin-right: 0;
    }
    #footer .container .address dl:nth-child(3) {
        width: 100%;
        margin-top: 40px;
    }
}
@media all and (max-width:1100px){
    #product .titleBox {
        width: 100%;
    }
    #product .descBox {
        margin: 0;
        width: 100%;
    }
    #product .descBox li .inner {
        width: 100%;
        padding-left: 250px;
    }
    #product .descBox li .img {
        left: 20px;
        transform: translateX(0);
    }
    #product .descBox li .bigTitle {
        font-size: 4rem;
    }
    #product .descBox li .btnMore {
        width: 50px;
        height: 50px;
        font-size-adjust: 1.25rem;
        line-height: 50px;
        right: 50px;
    }
    #product .descBox li p {
        margin-top: 10px;
    }
    #product .btnPrev {
        right: 20px;
        transform: translate(0,-30%);
    }
    #product .btnNext {
        left: 20px;
        transform: translate(0,-30%);
    }
}
@media all and (max-width:1280px){
    #summary .contentsBox:nth-child(2) .contents .infoBox {
        float: none;
        width: 100%;
        height: 175px;
        padding: 30px;
    }
    #summary .contentsBox:nth-child(2) .contents .imgBox {
        float: none;
        height: 175px;
        width: 100%
    }
    #summary .contentsBox:nth-child(2) li {
        float: left;
        width: 50%;
    }
}
@media all and (max-width:960px){
    #mainVisual .btns {left: 0; width: 100%;}
    #mainVisual .btns button {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 1.25rem;
    }
    #mainVisual .btns .btnPrev {left: 20px; position: absolute;}
    #mainVisual .btns .btnNext {right: 20px; position: absolute;}
    #summary .contentsBox  {
        float: none !important;
        width: 100% !important;
    }
    #summary .contentsBox:nth-child(1){
        height: auto;
        position: relative;
    }
    #summary .contentsBox:nth-child(1):before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    #summary .contentsBox:nth-child(1) .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding:30px;
    }
    #summary .contentsBox:nth-child(2) .contents {
        overflow: hidden;
        position: relative;
        height: auto;
    }
    #summary .contentsBox:nth-child(2) .contents:before {
        content: "";
        display: block;
        padding-top: 50%;
    }
    #summary .contentsBox:nth-child(2) .contents .inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    #summary .contentsBox:nth-child(2) .contents:nth-child(1) .infoBox {
        float: right;
        width: 50%;
        height: 100%;
        background-color: var(--green-color);
        color: #fff;
    }
    #summary .contentsBox:nth-child(2) .contents:nth-child(1) .imgBox {
        float: left;
        width: 50%;
        height: 100%;
    }
    #summary .contentsBox:nth-child(2) .contents:nth-child(2) .infoBox {
        float: left;
        width: 50%;
        height: 100%;
        background-color: var(--blue-color);
        color: #fff;
    }
    #summary .contentsBox:nth-child(2) .contents:nth-child(2) .imgBox {
        float: right;
        width: 50%;
        height: 100%;
    }
    #process .icons ul {
        position: relative;
    }
    #process .icons ul li {
        width: 25%;
        position: relative;
    }
    #process .icons:before {
        display: none;
    }
    #process ul li:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #d9d9d9;
        top: 51%;
    }
    #process .icons ul li .txtBox .txt {
        font-size: 1rem;
    }
    #process .icons ul li:nth-child(4) ~ li {
        margin-top: 80px;

    }
    /* #process .icons ul li:nth-child(5) {margin-top: 80px;}
    #process .icons ul li:nth-child(6) {margin-top: 80px;}
    #process .icons ul li:nth-child(7) {margin-top: 80px;}
    #process .icons ul li:nth-child(8) {margin-top: 80px;} */
    /* #process .icons:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
        position: absolute;
        bottom: 106px;
        z-index: -1;
    } */
    #online .container {
        width: 100%;
        padding: 0 20px;
    }
    #online .container .info {
        float: none;
        width: 100%;
    }
    #online .container .write {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    #footer .container .address dl:nth-child(3) .title {
        display: block;
        margin-bottom: 10px;
    }

}
@media all and (max-width:640px){
    .onlyMobile {
        display: block;
    }
    .pcOnly {
        display: none;
    }
    #header {
        height: 60px;
    }
    #header #logo {
        height: 60px;
        left: 10px;
        margin-left: 0;
    }
    #header #logo img {
        height: 100%;
    }
    #header .util .btnAll {
        width: 60px;
        height: 60px;
    }
    #header .util .btnAll .span {
        width: 20px;
        left: 20px;
    }
    #header .util .btnAll .span:nth-child(1){
        top: 20px;
    }
    #header .util .btnAll .span:nth-child(2){
        top: 30px;
    }
    #header .util .btnAll .span:nth-child(3){
        top: 40px;
    }
    #header .util .btnAll.on .span:nth-child(1) {
        top: 30px;
    }
    #header .util .btnAll.on .span:nth-child(3){
        top: 30px;
    }
    #header .util .language {
        margin-top: 15px;
    }
    #mainVisual li .inner {
        padding-left: 160;
    }
    #mainVisual li {
        background: none !important;
        height: auto;
    }
    #mainVisual li img {
        width: 100%;
    }
    #mainVisual li .img img {
        width: 120px;
    }
    #mainVisual li .txtBox {
        width: 100%;
        text-align: center;
        left: 0;
        top: 30%;
    }
    #main li .txtBox .main {
        font-size: 2.4rem;
        margin-top: 20px;
    }
    #main li .txtBox .sub {
        font-size: 1rem;
        letter-spacing: 0;
    }
    /* #product .descBox li.txt02 .bigTitle {
        font-size: 3rem;
    }
    #product .descBox li p {
        margin-top: 10px;
        padding-right: 20px;
        font-size-adjust: 0.825rem;
    }
    #product .descBox li p br {
        content: "";
        display: none;
    } */
}
@media all and (min-width:1100px){
    #product .productList .mask li {
        width: 1100px !important;
    }
    #online .container {
        width: 100%;
        padding: 0 20px;
    }
    #product .descBox li.txt02 .bigTitle {
        font-size: 3rem;
    }
    #product .descBox li p {
        margin-top: 10px;
        padding-right: 20px;
        font-size-adjust: 0.825rem;
    }
    #product .descBox li p br {
        content: "";
        display: none;
    }
}